@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-antonio);
  --font-proxima: var(--font-proxima);
}

:root {
  --color-black: #222123;
  --color-main-bg: #232224;
  --color-white: #ffffff;
  --color-dark-brown: #523122;
  --color-mid-brown: #a26833;
  --color-light-brown: #e3a458;
  --color-red-brown: #7f3b2d;
  --color-yellow-brown: #a26833;
  --color-milk-yellow: #e3d3bc;
  --color-red: #a02128;
  --color-milk: #faeade;
  --font-sans: "Antonio", sans-serif;
  --font-paragraph: "ProximaNova, sans-serif";
}

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #523122;
  background-color: #faeade;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.btn {
  @apply uppercase bg-[#fef3f0] text-[15px] font-[800] p-[0.8rem_1.9rem] rounded-[999px] transition-all ease-in duration-[0.2s] hover:bg-[var(--color-light-brown)] cursor-pointer border-none;
}

.title {
  @apply text-[119px] font-extrabold leading-[138px] uppercase;
}

.des {
  @apply text-[1rem] font-proxima w-[49%] leading-[1.2rem];
}
