@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-antonio);
  --font-proxima: var(--font-proxima);
}

:root {
  --color-black: #222123;
  --color-main-bg: #232224;
  --color-white: #ffffff;
  --color-dark-brown: #523122;
  --color-mid-brown: #a26833;
  --color-light-brown: #e3a458;
  --color-red-brown: #7f3b2d;
  --color-yellow-brown: #a26833;
  --color-milk-yellow: #e3d3bc;
  --color-red: #a02128;
  --color-milk: #faeade;
  --font-sans: "Antonio", sans-serif;
  --font-paragraph: "ProximaNova, sans-serif";
}

/* Chrome, Safari, Edge (WebKit based browsers) */
::-webkit-scrollbar {
  display: none;
}
html {
  /* Firefox */
  scrollbar-width: none;
  /* Old Browsers IE/Edge */
  -ms-overflow-style: none;
}

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #523122;
  /* background-color: var(--color-milk); */
  background-color: #222123;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  /* scroll-behavior: smooth; */
  position: relative;
}

.btn {
  @apply text-[1rem] md:text-[11px] xl:text-[13.5px] 2xl:text-[1rem] w-[165px] md:w-[128px] xl:w-[160px] 2xl:w-[192px] h-[48px] md:h-[38px] xl:h-[47.5px] 2xl:h-[56px] font-[800] rounded-[999px] flex justify-center items-center uppercase bg-[var(--color-light-brown)] cursor-pointer;
}

.title {
  @apply tracking-tight md:tracking-tighter text-[13vw] sm:text-[83px] md:text-[70px] lg:text-[79px] xl:text-[104px] 2xl:text-[122px] max-[401px]:h-[8vh] max-[535px]:h-[9vh] h-[11vh] sm:h-[95px] md:h-[90px] lg:h-[95px] xl:h-[140px] 2xl:h-auto font-extrabold leading-[138px] uppercase;
}

.title > div {
  @apply flex justify-center items-center max-[401px]:h-[8vh] max-[535px]:h-[9vh] h-[11vh] sm:h-[95px] md:h-[90px] lg:h-[95px] xl:h-[140px] 2xl:h-auto;
}

.ht > :nth-child(8) {
  @apply mr-[0.5rem] sm:mr-[1rem] 2xl:mr-[1.2rem];
}

.des {
  @apply sm:text-[1rem] md:text-[10.5px] xl:text-[13.5px] 2xl:text-[1rem] leading-[1.2rem] sm:leading-[1.2rem] md:leading-[0.8rem] xl:leading-[1.1rem] 2xl:leading-[1.2rem] font-proxima;
}

.m-item {
  @apply cursor-pointer;
}

.dash-close {
  @apply md:w-[29px] lg:w-[30px] xl:w-[38px] 2xl:w-[46px];
}
